<!DOCTYPE html>
<html>
    <head>
        <title>sivaranjani</title>
    </head>
    <body>
        <form method="post" action="/home">
            <input name="user_name" placeholder="Enter the user_name" required="1">
            <input name="mobile_number" placeholder="Enter the mobile_number" required="1">
            <input name="product_name" placeholder="Enter the purchase_name" required="1">
            <input name="quantity" placeholder="Enter the quantity of the product" required="1">
            <input type="submit">
        </form>
    </body>
</html>